header {
    font-family: "Yanone Kaffeesatz", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #161415;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.desktop-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.desktop-nav ul,
.mobile-nav ul {
    list-style: none;
} 

.mobile-nav ul {
    padding: 0px;
}

.desktop-nav ul li {
    margin: 0 15px;
}

.desktop-nav ul li,
.desktop-nav ul li a{
    position: relative;
}

.desktop-nav ul li a {
    font-size: 22px;
    color: #adadad;
    padding-bottom: 3px;
}

.desktop-nav ul li a,
.mobile-nav ul li a {
    text-decoration: none;
}

.mobile-nav ul li a {
    font-size: 18px;
    color: #161415;
}

.desktop-nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #c92b48; 
    bottom: 0; 
    left: 0; 
    transition: width 0.3s ease; 
}

.desktop-nav ul li a:hover::before {
    width: 100%; 
}

.ico-mobile-nav { 
    margin: 5px 5px;
}



