#menuToggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
#sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    transition: right 0.3s ease;
    z-index: 1000;
}
#sidebar.active {
    right: 0;
}
.container-closeSidebar { 
    width: 100%;
    height: 25px;
}
#closeSidebar {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 5px;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#overlay.active {
    display: block;
}
@media (max-width: 1024px) {
    header { 
        justify-content: flex-end;
    }
    .desktop-nav {
        display: none;
    }

    #menuToggle {
        padding-right: 10px;
        display: block;
    }
}