* {
    padding: 0px;
    margin: 0px;
}
body { 
    font-family: "Yanone Kaffeesatz", serif;
    font-weight: 300;
    font-style: normal;
    background: #ededed;
    height: 100%;
    width: 100%;
}
main {
    margin-top: clamp(50px, 5vw, 150px);
    margin-bottom: clamp(50px, 10vw, 250px);
}
main div h1 {
    margin-bottom: clamp(50px, 5vw, 150px);
}
footer {
    padding-top: 200px;
    height: 300px;
    width: 100%;
    background-color: #191718;
}
footer div p {
    color: #adadad;
}
